.gallery {
	padding: 60px;
	width: 100%;
	padding-bottom: 60px;
	color: white;
	background-image: url('../images/background1.jpg');
}

.section-title {
	width: 70%;
	margin: 0 auto;
	font-size: 30px;
}

.image-container {
	margin: 0 auto;
	width: 70%;
}

.section-description {
	font-size: 20px;
}

.gallery .carousel-control {
	background-image: none !important;
}

.about {
	text-align: center;
	color: #666;
	width: 100%;
	padding: 40px;
	font: 400 16px/1.5 "Roboto", sans-serif;
}

.about p {
	text-align: center;
	width: 220px;
	margin: 0 auto;
	margin-top: 15px;
}

.about-icon {
	height: 100px;
	width: 100px;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.largest-icon {
	background-image: url('../images/icons/largestimage.png');
}

.social-icon {
	background-image: url('../images/icons/eventicon.png');
}

.chinese-icon {
	background-image: url('../images/icons/chineseicon.png');
}

.community-icon {
	background-image: url('../images/icons/socialicon.png');
}

.history-icon {
	background-image: url('../images/icons/history.png');
}

.feds-icon {
	background-image: url('../images/icons/feds.png');
}

.about-row {
	margin-top: 40px;
}