.execs {
	background-color: white;
	width: 100%;
	padding: 25px;
}


.team {
	list-style-type:none;
}
.team > li >p {
	width:250px;
}
.team >li{
	margin-bottom:20px;
	width:31%;
	display:inline-block;
	vertical-align: top;
}

hgroup {
	display:inline-block;
}
.team > li > header > img {
	height:150px;
	width:auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 100px;
    height: 100px;
}
