/* NAV */
#topbanner {
    height: 100px;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 15px;
    overflow: hidden;
    background-image: url('../../images/navbanner2.jpg');
    background-size: fit;
    background-position: center center;
}

body {
    color: #666;
    font: "Roboto", sans-serif;;
}

/* Maincontainer */

#main-container {
    width:100%;
    /*min-width: 1248px;*/
}

.body-container {
    background-color: white;
    vertical-align: top;
    padding-top: 70px;
    width: 100%;

    /*min-width: 1248px;*/

    margin: 0 auto;
}

/* Twitter feed */
.twitter-timeline {
    position: absolute !important;
    margin-top: 35px !important;
    min-width: 200px !important;
}

/* FB feed */
.fb-page {
    position: absolute !important;
    margin-top: 502px !important;
    min-width: 200px;
    width: 330px;
}

.fb-page {
    width: 25% !important;
}

.fb-page span, .fb-page span ._2p3a , .fb-page span iframe[style] { width: 100% !important; }

.social-media {
    display: inline-block;
    vertical-align: top;
}

.footer {
    display: table;
    width: 100%; 
}


/* JOIN US */
#membershipcard {
	margin-right:40px;
	border-radius: 40px;
}
