<div id="about" class="about-pretext">
	<div class="container">
		<h2>We serve to connect and unite the diverse Chinese students of our institution</h2>
	</div>
	<div class="triangleDown"></div>
</div>

<div class="about row">
	<h2> Discover, Network, Play </h2>
	<div class="col-md-1">
	</div>
	<div class="col-md-10 largest">
		<div class="row">
			<div class="col-md-4 about-row">
				<div class="about-icon largest-icon"></div>
				<p>largest Chinese cultural club in University of Waterloo</p>
			</div>
			<div class="col-md-4 about-row">
				<div class="about-icon feds-icon"></div>
				<p>Feds approved and protected</p>
			</div>
			<div class="col-md-4 about-row">
				<div class="about-icon history-icon"></div>
				<p>40 years of experience and service</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 about-row">
				<div class="about-icon chinese-icon"></div>
				<p>promote culture and traditions of the Chinese community</p>
			</div>
			<div class="col-md-4 about-row">
				<div class="about-icon community-icon"></div>
				<p> foster a tight knit like-minded community for those away from home</p>
			</div>
			<div class="col-md-4 about-row">
				<div class="about-icon social-icon"></div>
				<p>engage our members with social and professional events</p>
			</div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
