<html ng-app="csa"  >
<head>
	<title>UWCSA</title>
	<link rel="shortcut icon" href="images/csa.ico">
	<!-- STYLES -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/home.css">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic' rel='stylesheet' type='text/css'>
	<!-- Begin MailChimp Signup Form -->
	<link href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
	<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <!-- SCRIPTS -->
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-route.min.js"></script>	
  <script src="js/bootstrap.min.js"></script>		
  <script src="js/bootstrap.js"></script>		
  <script src="js/app.js"></script>

</head>
<body ng-controller="navCtrl" >
	<div id="mainContainer" style="width:100%;margin-left:auto;margin-right:auto; background-color:white">
		<div id="topbanner" style="height:100px; overflow:hidden;background-image:url('images/topbanner2.jpg')" >
			<a class="navbar-brand" href="#" style="padding-left:0; padding-top:0">
				<img alt="UWCSA" src="images/csa.png" width=100 height=100>
			</a>
			<div class="navbar-brand" style="float:right;margin-right:20px">
				<h1 style="text-align:right">UW Chinese Student Association</h1>
			</div>
		</div>
		<nav  class="navbar navbar-default" role="navigation" style="margin-bottom:0px; text-align:center;width:100%; padding-left:0">
			<div class="container-fluid" style="padding-left:0">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-left:0px; width:100%">
					<ul class="nav navbar-nav navbar-left">

						<li id="eventsitem" class="centeredlist"ng-click="changeNav(3)"><a ng-href="#events"><i class="glyphicon glyphicon-star"> </i> Events</a></li>
						<li id="aboutitem" class="centeredlist"ng-click="changeNav(2)"><a ng-href="#about"><i class="glyphicon glyphicon-info-sign"> </i> About Us</a></li>				<li id="execsitem" class="centeredlist"ng-click="changeNav(6)"><a ng-href="#execs"><i class="glyphicon glyphicon-user"> </i> Exec Team</a></li>
						<li id="joinitem" class="centeredlist"ng-click="changeNav(4)"><a ng-href="#join"><i class="glyphicon glyphicon-pencil"> </i> Join Us</a></li>
						<li id="contactitem" class="centeredlist"ng-click="changeNav(5)"><a ng-href="#contact"><i class="glyphicon glyphicon-phone-alt"> </i> Contact Us</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right" >
						<li><a style="padding:5px 7px 0 0"  target="_blank" href="https://www.facebook.com/UWaterlooCSA"><img src="images/icons/flat/PNG/facebook.png" style="height:40px;width:40px"></a></li>

						<li><a style="padding:5px 7px 0 0"  target="_blank"href="https://twitter.com/UWaterlooCSA"><img src="images/icons/flat/PNG/twitter.png" style="height:40px;width:40px"></a></li>

						<li><a style="padding:5.5px 7px 0 0" target="_blank"href="http://instagram.com/uwcsa"><img src="images/icons/flat/PNG/instagram.png" style="height:37.5px;width:38px"></a></li>
					</ul>
				</div><!-- /.navbar-collapse -->

			</div><!-- /.container-fluid -->
		</nav>
		<div ng-view>

		</div>

	</div>
	<div style="margin-top:30px;background-color:black;color:white; text-align:center"><span>UWCSA 2014, All Rights Reserved</span></div>
</body>
</html>