.navbar {
    width: 100%;
    position: absolute;
    z-index: 5000;

    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #ffffff;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
}

.navbar .menu-item {
    padding-top: 20px;
    color: #666;
    font: 400 14px/1.5 "Roboto", sans-serif;
}

.navbar.fixed {
    position: fixed;
    top: 0;
}

.navbar-left .centeredlist {
    padding-top: 25px;
}


.navbar .glyphicon {
    margin: 0 5px 0 10px;
    color: #000000;
}

.navbar-nav #logo {
    padding: 10 20px;
}

#navbar-logo {
    height: 50px;
    width: auto;
}

.navbar-nav>li {
    height: 70px;
    line-height:100px;
}

.navbar-left>li {
    margin-right: 25px;
    cursor: pointer;
}
