/*!CK:2460645694!*//*1413901732,*/

.sp_Emz1rJiOoI2{background-image:url(/rsrc.php/v2/yu/r/Mn2VOuoDBtG.png);background-size:17px 51px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_Emz1rJiOoI2.sx_60e07a{background-position:0 0}.sp_Emz1rJiOoI2.sx_f826d2{background-position:0 -17px}.sp_Emz1rJiOoI2.sx_a25902{background-position:0 -34px}

#bootloader_P7c5m { height: 42px; }
.bootloader_P7c5m { display:block !important; }