<div>
	<div style="margin-left:20px; margin-top:40px;width:95%">
		<h1>  Who We Are </h1><br/>
		<p>The University of Waterloo Chinese Students’ Association was first established nearly 40 years ago with a vision towards bringing awareness of the Chinese community. After its establishment, UWCSA has expanded to more than 1000 members. Being the largest Chinese cultural club at the University of Waterloo, we serve to connect and unite the diverse Chinese students of our institution, and in the process, contribute to multiculturalism throughout our university.
		</p>		
		<p>UWCSA is widely renowned for its planning and execution of successful term events and activities. We host a variety of events, such as singing contests and sporting events, to facilitate and foster communication between our members. We also organize social events with other clubs that are not limited to those at University of Waterloo to extend our culture to others. 
		</p>
		<p>In the future, the members of UWCSA are hoping to be able to expand and grow with one another, creating an association that is both successful and beneficial to all the students of the University of Waterloo.</p>

		<p>
			滑鐵盧大學中國同學會是一個非牟利組織，為滑鐵盧大學的海外華僑服務。我們致力推廣中國文化，提供各種溝通渠道，以拉近中國同學之間的距離為尚。
		</p>

		<p>

			滑鐵盧大學中國同學會成立超過四十年，是滑鐵盧大學最大的華僑學會。我們舉辦各項不同類型的活動供同學參加，各展所長。多年來舉辨活動包括：舞台劇、歌唱比賽、運動比賽、撲克牌及麻雀遊戲等等，鼓勵同學在參與活動的同時，作文化交流及興趣分享。滑鐵盧大學中國同學經常與其他大學的學會合辦活動，為同學提供更多文化交流的機會。
		</p>
		<img src="images/csabanner.jpg" style="width:100%"
	</div>
</div>