<div >
  <div id="featured" style="margin-left:60px; width:100%; display:inline-block">
    <h3>Contact Us!<br>
    </h3>
    <p>Interested in collaborating with us? Or have a question regarding CSA? <br/>Feel free to send us a message!</p>
    <div style = "margin-top:10px; padding-left:10px;padding-right:10px;border-color:gray; padding-top:10px;margin-right:10%; border-style:solid;border-radius:30px; display:inline-block; float:left">
      <p><a target="_blank" href="https://www.facebook.com/groups/2241879340/"><img src="images/icons/02_facebook.png" style="height:20px;width:20px"></a>&nbsp Like us on Facebook! </p>
      <p><a target="_blank" href="https://twitter.com/UWaterlooCSA"><img src="images/icons/01_twitter.png" style="height:20px;width:20px"></a>&nbsp Follow us on Twitter!  </p>
      <p><a target="_blank" href="http://instagram.com/uwcsa"><img src="images/icons/10_instagram.png" style="height:20px;width:20px"></a>&nbsp Check out our pictures on Instagram!  </p>
      <p> Or you may directly contact us at: <br/><b><a href="mailto:uwaterloocsa@gmail.com?Subject=Question%20Or%20Concern" target="_top">uwaterloocsa@gmail.com</a></b> </p>
    </div>
    <img src="images/logo2.png" style="width:450px;display:inline-block">
  </div>

</div>