<div>
	<h2 style="margin-left:20px;margin-top:40px;margin-bottom:25px">Upcoming Events</h2>
	<div id="contentMarketingContainer" style="height: 265px; padding: 0px; margin-bottom: 0px;  ">

		<div class="figure" style="width:50%;float:left; height:100%;display:inline-block">
			<button ng-click="toEvent('https://www.facebook.com/groups/2241879340/')" title="View more" style="border:0; padding:0; margin:0;width:100%;">
				<div style="width: 100%; height: 255px; overflow: hidden; background-color:white;background-image: url(images/events/staytuned2.jpg); background-size:100% auto    ; background-position: 50% 50%; background-repeat: no-repeat;">
				</div>
				<div class="figcaption">
					<h6 class="ng-binding">Coming Soon <br/><br/>Stayed tuned for more events!</h6>
				</div>
			</button>

		</div>
				<div class="figure" style="width:50%;float:left; height:100%;display:inline-block">
			<button ng-click="toEvent('https://www.facebook.com/groups/2241879340/')" title="View more" style="border:0; padding:0; margin:0;width:100%;">
				<div style="width: 100%; height: 255px; overflow: hidden; background-color:black;background-image: url(images/events/staytuned.png); background-size:auto  100%  ; background-position: 50% 50%; background-repeat: no-repeat;">
				</div>
				<div class="figcaption">
					<h6 class="ng-binding">Coming Soon <br/><br/>Stayed tuned for more events!</h6>
				</div>
			</button>

		</div>

	</div>


    <hr>
	<h2 style="margin-left:20px; margin-top:25px">Past Events</h2>
	<div id="contentMarketingContainerPast" style="height: 265px; padding: 0px; margin-bottom: 150px;  ">
				<div class="figure" style="float:left;width:25%; height:50%;vertical-align:top;display:inline-block">
			<button ng-click="toEvent('https://www.facebook.com/events/338272603021423/')" title="View more" style="border:0; padding:0; margin:0;width:100%;">
				<div style="width: 100%; height: 125px; overflow: hidden; background-image: url(images/events/pokernight2.jpg); background-size: 100% auto; background-position: 50% 50%; background-repeat: no-repeat;">
				</div>
				<div class="figcaption-blue figcaption-small" style="width:100%;">
					<h6 class="ng-binding">Poker Night<br/><br/>UWCSA and UW Poker Club returns with another edition of POKER NIGHT!</h6>

				</div>
			</button>

		</div>
						<div class="figure" style="float:left;width:25%; height:50%;vertical-align:top;display:inline-block">
			<button ng-click="toEvent('https://www.facebook.com/events/553674981433041/')" title="View more" style="border:0; padding:0; margin:0;width:100%;">
				<div style="width: 100%; height: 125px; overflow: hidden; background-image: url(images/events/bombersocial2.jpg); background-size: auto 100%; background-position: 50% 50%; background-repeat: no-repeat;">
				</div>
				<div class="figcaption-blue figcaption-small" style="width:100%;">
					<h6 class="ng-binding">Bomber Social V2<br/><br/>Mix and mingle with other fellow students and meet new friends!</h6>

				</div>
			</button>

		</div>

				<div class="figure" style="float:left;width:25%; height:50%;vertical-align:top;display:inline-block">
			<button ng-click="toEvent('https://www.facebook.com/events/710855105666068/')" title="View more" style="border:0; padding:0; margin:0;width:100%;">
				<div style="width: 100%; height: 125px; overflow: hidden; background-image: url(images/events/horrorescape.jpg); background-size: 100% auto; background-position: 50% 50%; background-repeat: no-repeat;">
				</div>
				<div class="figcaption-blue figcaption-small" style="width:100%;">
					<h6 class="ng-binding">Halloween Horror Escape <br/><br/>Will you and your friends be able to survive through this cursed cabin? </h6>

				</div>
			</button>

		</div>
	<div class="figure" style="float:left;width:25%; height:50%;vertical-align:top;display:inline-block">
			<button ng-click="toEvent('https://www.facebook.com/events/595295273926246/')" title="View more" style="border:0; padding:0; margin:0;width:100%;">
				<div style="width: 100%; height: 125px; overflow: hidden; background-image: url(images/events/friendlybumps.jpg); background-size: 100% auto; background-position: 50% 50%; background-repeat: no-repeat;">
		
				</div>
				<div class="figcaption-blue figcaption-small" style="width:100%;">
					<h6 class="ng-binding">Friendly Bumps<br/> <br/>play in bubbles? yes please!</h6>
				</div>
			</button>

		</div>
		<div class="figure" style="float:left;width:25%; height:50%;vertical-align:top;display:inline-block">
			<button ng-click="toEvent('https://www.facebook.com/events/1470748533185355/?ref=4')" title="View more" style="border:0; padding:0; margin:0;width:100%;">
				<div style="width: 100%; height: 125px; overflow: hidden; background-image: url(images/events/orientation.jpg); background-size: 100% auto; background-position: 50% 50%; background-repeat: no-repeat;">
				</div>
				<div class="figcaption-blue figcaption-small" style="width:100%;">
					<h6 class="ng-binding">Orientation Day<br/><br/> Come meet your members and execs!</h6>

				</div>
			</button>

		</div>

		<div class="figure" style="float:left;width:25%; height:50%;vertical-align:top;display:inline-block">
			<button ng-click="toEvent('https://www.facebook.com/events/257926837747479/?ref=4')" title="View more" style="border:0; padding:0; margin:0;width:100%;">
				<div style="width: 100%; height: 125px; overflow: hidden; background-image: url(images/events/classroomescape.jpg); background-size:100% auto; background-position: 50% 50%; background-repeat: no-repeat;">
				</div>
				<div class="figcaption-blue figcaption-small" style="width:100%;">
					<h6 class="ng-binding">Classroom Escape<br/><br/> Can you escape MC?</h6>

				</div>
			</button>

		</div>
		<div class="figure" style="float:left;width:25%; height:50%;vertical-align:top;display:inline-block">
			<button ng-click="toEvent('https://www.facebook.com/events/205207649690268/?ref=4')" title="View more" style="border:0; padding:0; margin:0;width:100%;">
				<div style="width: 100%; height: 125px; overflow: hidden; background-image: url(images/events/pokernight.jpg); background-size: 100% auto; background-position: 50% 50%; background-repeat: no-repeat;">
				</div>
				<div class="figcaption-blue figcaption-small" style="width:100%;">
					<h6 class="ng-binding">Poker Night<br/><br/>Show your best poker face</h6>

				</div>
			</button>

		</div>


		<div class="figure" style="float:left;width:25%; height:50%;vertical-align:top;display:inline-block">
			<button ng-click="toEvent('https://www.facebook.com/events/1470465839843823/?ref=4')" title="View more" style="border:0; padding:0; margin:0;width:100%;">
				<div style="width: 100%; height: 125px; overflow: hidden; background-image: url(images/events/nightmarket.jpg); background-size:  100% auto; background-position: 50% 50%; background-repeat: no-repeat;">
				</div>
				<div class="figcaption-blue figcaption-small" style="width:100%;">
					<h6 class="ng-binding">Night Market</br></br> Food, drinks, and Joseph Vincent!!!</h6>

				</div>
			</button>

		</div>

		<div class="figure" style="float:left;width:25%; height:50%;vertical-align:top;display:inline-block">
			<button ng-click="toEvent('https://www.facebook.com/events/1430412417202714/?ref=4')" title="View more" style="border:0; padding:0; margin:0;width:100%;">
				<div style="width: 100%; height: 125px; overflow: hidden; background-image: url(images/events/Karaokenight.jpg); background-size: 100% auto; background-position: 50% 50%; background-repeat: no-repeat;">
				</div>
				<div class="figcaption-blue figcaption-small" style="width:100%;">
					<h6 class="ng-binding">Karaoke Night<br/><br/>Who's got the voice of an angel?</h6>

				</div>
			</button>

		</div>
		<div class="figure" style="float:left;width:25%; height:50%;vertical-align:top;display:inline-block">
			<button ng-click="toEvent('https://www.facebook.com/events/281527141996038/?ref=4')" title="View more" style="border:0; padding:0; margin:0;width:100%;">
				<div style="width: 100%; height: 125px; overflow: hidden; background-image: url(images/events/bomerbsocial.jpg); background-size: 100% auto; background-position: 50% 50%; background-repeat: no-repeat;">
				</div>
				<div class="figcaption-blue figcaption-small" style="width:100%;">
					<h6 class="ng-binding">Bomber Social<br/><br/>Your soul mate might be here ;)</h6>

				</div>
			</button>

		</div>

	</div>
</div>
