<div>

  <h1 style="margin-left:20px;margin-top:40px;margin-bottom:25px">Applications for the fall term exec team are now <strong>closed</strong><h1>
    <h2 style="margin-left:20px;margin-top:40px;margin-bottom:25px">Senior Exec Team Fall 2014</h2>
    <section class="team-members">
      <ul class="team">
        <li>
          <header class="cf">
            <img src="images/execs/generic.png">
            <hgroup>
              <h6><strong>Steven Yao </strong></h6>
              <span>Co-President</span>
              <br/>
            </hgroup>
          </header>
        </li>       <li>
        <header class="cf">
          <img src="images/execs/generic.png">
          <hgroup>
            <h6><strong>Allan Wong </strong></h6>
            <span>Co-President</span>
            <br/>
          </hgroup>
        </header>
      </li>
      <li>
        <header class="cf">
          <img src="images/execs/daviddong.jpg">
          <hgroup>
            <h6><strong>David Dong </strong></h6>
            <span>Co-President</span>
            <br/>
          </hgroup>
        </header>
      </li>
      <li>

        <header class="cf">
          <img src="images/execs/genericfemale.jpg">
          <hgroup>
            <h6><strong>Rita Chen </strong></h6>
            <span>Senior VP</span>
            <br/>
          </hgroup>
        </header>
      </li>
      <li>

        <header class="cf">
          <img src="images/execs/lokhinyuen.jpg">
          <hgroup>
            <h6><strong>Lokhin Yuen</strong></h6>
            <span>Senior VP</span>
            <br/>
          </hgroup>
        </header>
      </li>
      <li>

        <header class="cf">
          <img src="images/execs/genericfemale.jpg">
          <hgroup>
            <h6><strong>Amy Yang</strong></h6>
            <span>Director, Operations</span>
            <br/>
          </hgroup>
        </header>
      </li>
      <li>

        <header class="cf">
          <img src="images/execs/genericfemale.jpg">
          <hgroup>
            <h6><strong>Kate Li</strong></h6>
            <span>VP, Operations</span>
            <br/>
          </hgroup>
        </header>
      </li>
      <li>
        <header class="cf">
          <img src="images/execs/generic.png">
          <hgroup>
            <h6><strong>Edmond Luk </strong> </h6>
            <span>VP, Public Relations</span>
            <br/>
          </hgroup>
        </header>
      </li>
      <li>
        <header class="cf">
          <img src="images/execs/victoriamcdonald.jpg">
          <hgroup>
            <h6><strong>Victoria McDonald </strong> </h6>
            <span>Director, Public Relations</span>
            <br/>
          </hgroup>
        </header>
      </li>

      <li>
        <header class="cf">
          <img src="images/execs/jennywu.jpg">
          <hgroup>
            <h6><strong>Jenny Wu </strong></h6>
            <span>VP, Marketing</span>
            <br/>
          </hgroup>
        </header>
      </li>
      <li>
        <header class="cf">
          <img src="images/execs/tonycheng.png">
          <hgroup>
            <h6><strong>Tony Cheng </strong></h6>
            <span>Director, Marketing</span>
            <br/>
          </hgroup>
        </header>
      </li>
      <li>
        <header class="cf">
          <img src="images/execs/generic.png">
          <hgroup>
            <h6><strong>Edward Tam </strong></h6>
            <span>VP, Finance</span>
            <br/>
          </hgroup>
        </header>
      </li>
      <li>
        <header class="cf">
          <img src="images/execs/genericfemale.jpg">
          <hgroup>
            <h6><strong>Serena Wong </strong></h6>
            <span>Director, Finance</span>
            <br/>
          </hgroup>
        </header>
      </li>
            <li>
        <header class="cf">
          <img src="images/execs/ellisluo.jpg">
          <hgroup>
            <h6><strong>Ellis Luo </strong></h6>
            <span>Is so nice</span>
            <br/>
          </hgroup>
        </header>
      </li>


      
    </ul>
  </section>
</div>