<div>

  <h1 style="margin-left:20px;margin-top:40px;margin-bottom:25px">Applications for the Winter Term exec team are now <strong>OPEN</strong><h1>

    <h2 style="margin-left:20px;margin-top:40px;margin-bottom:25px">Senior Exec Team Winter 2015</h2>
    <section class="team-members">
      <ul class="team">
        
        <li>
          <header class="cf">
            <img src="images/execs/lokhinyuen.jpg">
            <hgroup>
              <h6><strong>Lok-Hin Yuen</strong></h6>
              <span>Co-President</span>
              <br/>
            </hgroup>
          </header>
        </li>       

        <li>
        <header class="cf">
          <img src="images/execs/ritachen.jpg">
          <hgroup>
            <h6><strong>Rita Chen</strong></h6>
            <span>Co-President</span>
            <br/>
          </hgroup>
        </header>
      </li>
      
      <li>
        <header class="cf">
          <img src="images/execs/generic.png">
          <hgroup>
            <h6><strong>Edward Tam</strong></h6>
            <span>Co-President</span>
            <br/>
          </hgroup>
        </header>
      </li>
      <li>

        <header class="cf">
          <img src="images/execs/ellisluo.jpg">
          <hgroup>
            <h6><strong>Ellis Luo </strong></h6>
            <span>VP, Operations</span>
            <br/>
          </hgroup>
        </header>
      </li>
      <li>

        <header class="cf">
          <img src="images/execs/vickylee.jpg">
          <hgroup>
            <h6><strong>Vicky Lee</strong></h6>
            <span>Director, Operations</span>
            <br/>
          </hgroup>
        </header>
      </li>
      <li>

        <header class="cf">
          <img src="images/execs/danielliu.jpg">
          <hgroup>
            <h6><strong>Daniel Liu</strong></h6>
            <span>Director, Operations</span>
            <br/>
          </hgroup>
        </header>
      </li>
      <li>

        <header class="cf">
          <img src="images/execs/generic.png">
          <hgroup>
            <h6><strong>Kings Lee</strong></h6>
            <span>VP, Marketing</span>
            <br/>
          </hgroup>
        </header>
      </li>
      <li>
        <header class="cf">
          <img src="images/execs/generic.png">
          <hgroup>
            <h6><strong> Daniel Yang </strong> </h6>
            <span>Director, Marketing</span>
            <br/>
          </hgroup>
        </header>
      </li>
      <li>
        <header class="cf">
          <img src="images/execs/alexwu.jpg">
          <hgroup>
            <h6><strong>Alex Wu</strong> </h6>
            <span>Director, Marketing</span>
            <br/>
          </hgroup>
        </header>
      </li>

      <li>
        <header class="cf">
          <img src="images/execs/generic.png">
          <hgroup>
            <h6><strong>William Li</strong></h6>
            <span>VP, Public Relations</span>
            <br/>
          </hgroup>
        </header>
      </li>
      
    </ul>
  </section>
</div>